<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
  <title>fallout</title>
</head>
<body>

<div class="block1">
  <ul class="h-menu">
    <li><a href="" (click)="Firstfunction()">Главная</a></li>
    <li><a href="">Выбор убежища</a>
      <ul>
        <li><a  (click)="extends(1)">Убежище 1</a></li>
        <li><a  (click)="extends(2)">Убежище 2</a></li>
        <li><a  (click)="extends(3)">Убежище 3</a></li>
      </ul>
    </li>
    <li><a href="" (click)="Histori()">История</a></li>
    <li><a href="" (click)="Clear()">Очистить убежище</a></li>
    <li><a href="" (click)="Update()">Обновить компьютер</a></li>
  </ul>
  <app-registering [n] = 'numberBunker' [clear] = 'clearnumber' ></app-registering>
</div>


<div class="block2">
  <app-list [n] = 'numberBunker'></app-list>
</div>
<div class="blockBorderTab"></div>


<div class="block35">
  <app-block3></app-block3>
</div>

</body>
</html>

