<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
  <title>fallout</title>
</head>
<body>

<div class="block1">
  <div class="menu">
    <table class="tableMenu">
      <tr>
        <td>
          <button (click)="Firstfunction()">Главная</button></td>
        <td>
<button (click)="extends(1)">Убежище 1</button>
<button (click)="extends(2)">Убежище 2</button>
<button (click)="extends(3)">Убежище 3</button>
        </td>
      </tr>
    </table>
  </div>
  <app-registering [n] = 'numberBunker' [clear] = 'clearnumber' ></app-registering>
  <div class="downMenu">
    <table class="tabledownMenu">
      <tr>
        <td>
          <button (click)="Histori()">История</button></td>
        <td>
          <button (click)="Clear()">Очистить убежище</button>
        </td>
        <td>
          <button (click)="Update()">Обновить компьютер</button>
        </td>
      </tr>
    </table>
  </div>

</div>
</body>
</html>

