
<div class="block3">

  <div class="cinemaRoom">
    <div class="container_slider_css">
      <img class='photo_slider_css'  src="../../assets/ps4-fallout-4-sub-rus_4.jpg" alt="" />
      <img class='photo_slider_css'  src="../../assets/fallout_4_automatron_screenshot_3ae46bff.jpeg" alt="" />
      <img class='photo_slider_css'  src="../../assets/p1_2698225_5d0a3785.jpg" alt="" />
      <img class='photo_slider_css'  src="../../assets/YrHwOd5aD1SKEgyVeQArhQ.jpeg" alt="" />
    </div>
  </div>

</div>
<div class="block4">

</div>
<div class="block5">

</div>


